<nav class="navigate">
    <div class="heading">
        <h1>Online Hostel Complaint Management System</h1>
    </div>
    <div class="navnav">

        <a href="/">
            <div class="navoption">
                Post Complaint
            </div>
        </a>
        <a href='/table'>
            <div class="navoption">
                Complaint Table
            </div>
        </a>
        <a href='/hosteltable'>
            <div class="navoption">
                Complaint Management Table
            </div>
        </a>
</nav>